@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
  background-color: black;
  image-rendering: pixelated;
  touch-action: none;
}

.user-dropdown-enter {
  opacity: 0;
}
.user-dropdown-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.user-dropdown-exit {
  opacity: 1;
}
.user-dropdown-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}