@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
  background-color: black;
  cursor: crosshair;
  image-rendering: pixelated;
  touch-action: none;
  position: absolute;
  inset: 0;
}